@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
html {
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 100%;
    background-color: fff;
    font-family: "Inter", "sans-serif";
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 180px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #94918f;

    height: 90vh;
}

.menu-name {
    display: flex;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: #161419;
}

.menu-name:hover{
    text-decoration: none;
    color:rgb(36, 91, 149)
}

.menu-name + .menu-name {
    margin-top: 20px;
}

.menu-name.mention {
    margin-top: auto;
}

.blog {
    display: flex;
    flex-direction: column;
    height:100vh
}

.main-header{
    /*display: grid;
    grid-template-columns: 100%;*/
    border-bottom: 1px solid #94918f;
    margin-left:50px;
    margin-right:50px;

}

.header {
    font-size: 45px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    /*line-height: 1;*/
    padding-top:10px;   
    padding-bottom:10px;
    text-align: center;
}

.header-image{
    height: 65px;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    /*max-height: 22vh;*/
}

.language{
    margin-top:30px;
    margin-left:50px;
}

.tags{
    margin-top:30px;
    margin-left:auto;

}

.tag{
    margin-right: 2px;
    padding: 4px 10px;
    color: #FFF;
    background: #9fade3;
    font-size: 80%;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-main, .about-main, .project-main {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-left: 50px;
    margin-top: 20px;  
}

.blog-container, .about-container, .old-projects{
    height: 810px;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #94918f;
}

.container{
    margin-right:50px; 
}

.container img {
    border-radius: 10px;
    height: 40vh;
    /*max-height: 22vh;*/
    width: 100%;
    object-fit: cover;
}

.container:not(:first-child) img{
    margin-top:20px;
}

.container h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0 8px;
}
  
.container h2 span {
    font-family: "Roboto","Inconsolata";
}

.container-detail{
    display: flex;
    flex-direction: row;
}

.reading-time{
    margin-left:auto;
}
  
.container p {
    line-height: 1.5;
    margin: 14px 0;
}

.container a {
    color: #161419;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    border-bottom: 1px solid #94918f;
    padding-top: 14px;
    padding-bottom:14px;
}
  
.container a svg {
    width: 20px;
    margin-right: 10px;
}

.about-header{
    font-size: 20px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}

.volunteers, .newprojects{
    height: 810px;
    width: 100%;
    overflow: scroll;
    margin-left:20px;
}

.volunteer-list, .old-projects, .newprojects{
    display: flex;
    flex-direction: column;
}

.volunteer{
    display: flex;
    flex-direction: row;
}

.volunteer-image{
    border-radius: 10px;
    height:200px;
    width:200px;
    object-fit: cover;
}

.volunteer-detail{
    margin-bottom:20px;
    margin-left:20px;
}

.sponsors{
    display: flex;
    flex-direction: row;
}

.collaborators, .supporters{
    margin-left:50px;
}

.supporters-paragraph{
    margin-bottom:0.3px;
}

.old-project{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-right:50px;
    height: 100vh;
    border-radius: 10px;
    align-items: center;
    background-color:#f9f9f9;
}

.newproject-image{
    height: 500px;
    width: 375px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    /*max-height: 22vh;*/
}

.newproject-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.takvim{
    display: flex;
    /*grid-template-columns:10% 10% 10% 10% 10% 10% 10% ;*/
    flex-direction: row;
}

.takvim-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align:center;

}

.days{
    margin-top:10px;
}

.days.header{
    font-size: 20px;
}

.days.old{
    color:#d4dade;
}

.days.selected{
    border-radius: 50px;
    background-color:#91adca;  
}

::-webkit-scrollbar{
    display: none;

}