@import url("stylemain.css");

.article-main{
    display: grid;
    grid-template-columns: 65% 35%;
    height:calc(100vh - 5rem);
    padding-left: 50px;
    padding-top: 20px; 
}

@media screen and (max-width:1028px){
    .article-main{
        display: grid;
        grid-template-columns: 100%;
    }
}

.article-container{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom:50px;
    padding-right: 50px;
    border-right: 1px solid #94918f;
}

@media screen and (max-width:1028px){
    .article-container{
        border-style:none;
    }
}

@media screen and (max-width:660px){
    .article-container{
        margin-right:20px;
    }
}

@media screen and (max-width:540px){
    .article-container{
        margin-right:10px;
    }
}

.article-container p {
    line-height: 1.5;
    margin: 14px 0;
}

#article-header{
    font-size: 30px;
    color:rgb(36, 91, 149);
    letter-spacing: -2px;
    font-weight: 800;
}

.about-header{
    font-size: 19px;
    color:rgb(36, 91, 149);
    letter-spacing: -1px;
}

.article-container-detail{
    display: flex;
}

.article-main-img{
    border-radius: 10px;
    height: 40vh;
    /*max-height: 22vh;*/
    width: 100%;
}

#turbojet-one{
    display: flex;
}

#turbojet-img-one{
    max-width: 500px;
    max-height:250px;
}

#turbojet-two{
    display: flex;
}

#turbojet-img-two{
    max-width:500px;
}

.article-right-container{
    padding-left:20px;
}

.reading-time{
    margin-left:auto;
}

#turbojet-three{
    display: flex;
}

#turbojet-img-three{
    object-fit: cover;
    width:100px;
    height:100px;
    border-radius: 5px;
}

#author{
    margin-left:20px;
    padding-right:40px;
}

#author p{
    font-size:14px;
}

.powr-comments{
    padding-right: 40px;
    height:500px;
}

@media screen and (max-width:1344px){
    #turbojet-one{
        display: block;
    }

    #turbojet-two{
        display: block;
    }
}

@media screen and (max-width:1028px){
    .article-right-container{
        display: none;
    }

    #turbojet-one{
        display: flex;
    }

    #turbojet-two{
        display: flex;
    }

}

@media screen and (max-width:907px){
    #turbojet-one{
        display: block;
    }
}

@media screen and (max-width:907px){
    #turbojet-two{
        display: block;
    }
}

@media screen and (max-width:600px){
    #turbojet-img-one{
        width:100%
    }

    #turbojet-img-two{
        width:100%
    }
}

/*-----------------------------------------------*/

#ucaginbolumleri-one{
    display: flex;
}

#ucaginbolumleri-one  p{
    padding-left:20px;
}


#ucaginbolumleri-img-one{
    max-width:600px;
}

@media screen and (max-width:2048px){
    #ucaginbolumleri-img-one{
        width: 525px;
    }
}

@media screen and (max-width:1936px){
    #ucaginbolumleri-img-one{
        width:100%
    }

    #ucaginbolumleri-one{
        display: block;
    }

    #ucaginbolumleri-one  p{
        padding-left:0px;
    }
}

@media screen and (max-width:1141px) {
    #ucaginbolumleri-img-one{
        width:100%;
    }
}

@media screen and (max-width:1028px){
    #ucaginbolumleri-one{
        display: flex;
    }
}

@media screen and (max-width:1023px){
    #ucaginbolumleri-img-one{
        width:100%;
    }

    #ucaginbolumleri-one{
        display:block;
    }

    #ucaginbolumleri-one  p{
        padding-left:0px;
    }
}

/*-----------------------------------------------*/


#suroketleri-one{
    display: flex;
}

#suroketleri-img-one{
    border-radius: 5px;
    width: 150px;
}

#suroketleri-one p{
    padding-left:20px;
    padding-top: 20px;
}

#suroketleri-img-two{
    border-radius: 5px;
    width: 500px;
}

#suroketleri-two{
    display: flex;
}

#suroketleri-two p{
    padding-right:20px;
    margin-top:auto;
    margin-bottom:auto;
}

#suroketleri-img-three{
    border-radius: 5px;
    width: 100%;
}

#suroketleri-img-four{
    border-radius: 5px;
    width: 500px;
}

#suroketleri-three{
    display: flex;
}

#suroketleri-three p{
    padding-left: 20px;
}

@media screen and (max-width:1469px){
    #suroketleri-three{
        display: block;
    }

    #suroketleri-three p{
        padding-left:0px;
    }
}

@media screen and (max-width:1346px){
    #suroketleri-two{
        display: block;
    }

    #suroketleri-two p{
        padding-right:0px;
        margin-top:none;
        margin-bottom:20px;
    }
}

@media screen and (max-width:1028px){
    #suroketleri-three{
        display: flex;
    }

    #suroketleri-three p{
        padding-left:20px;
    }

    #suroketleri-two{
        display: flex;
    }

    #suroketleri-two p{
        padding-right:20px;
        margin-top:auto;
        margin-bottom:auto;
    }
}

@media screen and (max-width:980px){
    #suroketleri-three{
        display: block;
    }

    #suroketleri-three p{
        padding-left:0px;
    }
}

@media screen and (max-width:904px){
    #suroketleri-two{
        display: block;
    }

    #suroketleri-two p{
        padding-right:0px;
        margin-top:none;
        margin-bottom:20px;
    }
}

@media screen and (max-width:776px){
    #suroketleri-img-one{
        display: none;
    }

    #suroketleri-one p{
        padding-left:0px;
        padding-top: 0px;
    }
}

@media screen and (max-width:652px){
    #suroketleri-img-two{
        width: 100%;
    }

    #suroketleri-img-four{
        width: 100%;
    }

}